[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"
black = "*"
isort = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
